
# Ignore rust files
addons/glecs/rust/flecs-rs/target
addons/glecs/rust/flecs-rs/Cargo.lock
addons/glecs/rust/glecs/.vscode
addons/glecs/rust/glecs/target
addons/glecs/rust/glecs/Cargo.lock

# Ignore Godot files
.godot
