
# Ignore rust files
addons/glecs/rust/flecs-rs/target
addons/glecs/rust/flecs-rs/Cargo.lock
addons/glecs/rust/glecs/.vscode
addons/glecs/rust/glecs/target
addons/glecs/rust/glecs/Cargo.lock

.vscode/settings.json
addons/glecs/.vscode/settings.json

# Ignore Godot files
.godot

.gut_editor_config.json
addons/gut/gui/GutSceneTheme.tres